<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>90782672853-v14jegq1urdf31ma20ga4sep8ter4mns.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.90782672853-v14jegq1urdf31ma20ga4sep8ter4mns</string>
	<key>API_KEY</key>
	<string>AIzaSyAPn_CDMwsAVdHorIzSLy8REP_8h9mzKb8</string>
	<key>GCM_SENDER_ID</key>
	<string>90782672853</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.tasqrauth</string>
	<key>PROJECT_ID</key>
	<string>tasqrauth</string>
	<key>STORAGE_BUCKET</key>
	<string>tasqrauth.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:90782672853:ios:bc986a89bf94bc9c87ff5c</string>
</dict>
</plist>